
{{#each this}}
<li class="menu__item">
    <img src="{{flag}}" alt="{{name}}" width="120px">
    <h1>{{name}}</h1>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:{{#each this.languages}} {{name}} {{/each}}</p>
   
</li>
{{/each}}

